<!DOCTYPE html>
<html lang="zh">

{% extends "bootstrap/base.html" %}

<head>
{% block styles %}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
{% endblock styles %}
{% block title %}{% endblock title %}
</head>

<body>
{% block navbar %}{% endblock navbar %}

{% block content %}{% endblock content %}

</body>
</html>