{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Helm{% endblock title %}

{% block page_content %}

<div class="marketing">
  <h4>雷达图</h4>       
  <div class="row">
    <div class="col-xs-3 col-xs-offset-1">
      <p>文件名:</p>
    </div>
    <div class="col-xs-3">
      <p id="radar_filename"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-xs-offset-1">
      <p>雷达图生成时间(UTC):</p>
    </div>
    <div class="col-xs-3">
      <p id="radar_filetime"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-xs-offset-1">
      <p>166雷达图时间(UTC):</p>
    </div>
    <div class="col-xs-3">
      <p id="radar_166_filetime"></p>
    </div>
  </div>
</div>

<div class="marketing">
  <h4>自动观测资料</h4>       
  <div class="row">
    <div class="col-xs-3 col-xs-offset-1">
      <p>文件名:</p>
    </div>
    <div class="col-xs-3">
      <p id="awos_filename"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-xs-offset-1">
      <p>通讯机上传时间(UTC):</p>
    </div>
    <div class="col-xs-3">
      <p id="awos_filetime"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-xs-offset-1">
      <p>166显示时间(UTC):</p>
    </div>
    <div class="col-xs-3">
      <p id="awos_166_filetime"></p>
    </div>
  </div>
</div>

<div class="marketing">
  <h4>卫星云图</h4>       
  <div class="row">
    <div class="col-xs-3 col-xs-offset-1">
      <p>最新文件名:</p>
    </div>
    <div class="col-xs-3">
      <p id="sat_filename"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-xs-offset-1">
      <p>上传时间(BJT):</p>
    </div>
    <div class="col-xs-3">
      <p id="sat_filetime"></p>
    </div>
  </div>
</div>
{% endblock page_content %}

{% block scripts %}
{{ moment.include_moment() }}
{{ super() }}
{% endblock scripts %}